/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2019, 1:18:23 PM
    Author     : Shikimime
*/

.luar{
    -fx-background-image: url("../Image/Login/bg@2x.jpg");
    -fx-background-size: 100% 100%;
}

.kiri{
    -fx-fill: #60b0fa;
    -fx-smooth: true;
    -fx-arc-height: 5;
    -fx-arc-width: 5;
    -fx-stroke: #7c7aba;
 
}

.atas{
    -fx-fill: #60b0fa;
    -fx-smooth: true;
    -fx-stroke: #7c7aba;

}
