/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2019, 11:52:26 PM
    Author     : Shikimime
*/

.Panebg {
   -fx-background-image: url("../Image/Login/bg@2x.jpg");
   -fx-background-size: 100% 100%;
   -fx-background-color: transparent;
   /*-fx-opacity: 0.5;*/
}